includes:
  - vendor/bensampo/laravel-enum/extension.neon
  - vendor/nesbot/carbon/extension.neon
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  checkMissingIterableValueType: false
  checkModelProperties: true
  level: 9

  paths:
    - app

  stubFiles:
    - vendor/nuwave/lighthouse/_ide_helper.php
